[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
bidding_system = "HHdGDLRcNY9hf9TMg78grzheCpDG21wrmVM4wEWwsQ5u"

[programs.devnet]
bidding_system = "HHdGDLRcNY9hf9TMg78grzheCpDG21wrmVM4wEWwsQ5u"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
